<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css"/>
  </head>
  <body>
    <div id="file-uploader"><input type="file" id="file-input"/></div>
    <div id="progess-meter">Progress:<span id="progress-value"></span></div>
    <script type="text/javascript" src="static/js/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.js"></script>
    <script type="text/javascript">
      var freader = new FileReader();
      var file_input = document.getElementById("file-input");
      var xhr = new XMLHttpRequest();
      var fileHandler = function(e) {
      var file = this.files[0];
      freader.readAsBinaryString(file);
      };
      var updateProgress = function(e) {
      var pmeter = document.getElementById("progress-value");
      pmeter.innerHTML = e.loaded;
      };
      file_input.addEventListener("change",fileHandler,false);
      xhr.upload.addEventListener("progress", updateProgress, false);
      xhr.open("POST","upload");
      freader.onload = function(e) {
      xhr.send(e.target.result);
      };
    </script>
  </body>
</html>
